@{
    ViewData["Title"] = "Home Page";
}

<environment include="Production">

  @section Styles {
    <style>

      .deneme {
          color: red;
      }

    </style>


    @*Lik yöntemi ile kütüphane yükleme *@
  }

</environment>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  <p class="deneme">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

  <p>@ViewBag.Mode</p>
</div>


@section Scripts {
  <script>
    $(document).ready(()=> {
      console.log('ready');
    })
  </script>
}